variables.json
*.tfstate
*.tfstate.*.backup
*.tfstate.backup
*.tfvars
.terraform/
*.retry
*.pem
gce.ini
jdauphant.nginx
.imported_roles/
vault.key
*.swp
.vagrant/
*.log
*.pyc
.molecule
.cache
.pytest_cache
